body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: "Lucida Console", Courier, monospace;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

h1 {
  font-family: "Lucida Console", Courier, monospace;
}

h2 {
  font-family: "Lucida Console", Courier, monospace;
}

h3 {
  font-family: "Lucida Console", Courier, monospace;
}

h4 {
  font-family: "Lucida Console", Courier, monospace;
}
